@page
@model StudentHousingApp.Data.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].LandlordID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].RentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Property) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LandlordID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PropertyID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PropertyID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PropertyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
